name: test

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  unit_tests:
    name: "Unit tests"
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v5
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: 'go.mod'
    - name: Build and test
      run: make
      env:
        GOBIN: "/tmp/bin"
    - name: Archive code coverage results
      uses: actions/upload-artifact@v5
      with:
        name: code-coverage
        path: coverage.txt
  code_coverage:
    name: "Code coverage report"
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    needs: unit_tests
    permissions:
      contents:      read
      actions:       read
      pull-requests: write
    steps:
    - uses: fgrosse/go-coverage-report@v1.2.0
      with:
        coverage-artifact-name: "code-coverage"
        coverage-file-name: "coverage.txt"